WpfLearn.Client/Service References/WcfService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WpfLearn.Server.NetworkNodes" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WpfLearn.Server" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_GetWorkstationDtoList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWorkstationDtoList" />
  </wsdl:message>
  <wsdl:message name="IService_GetWorkstationDtoList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWorkstationDtoListResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetWorkstation_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWorkstation" />
  </wsdl:message>
  <wsdl:message name="IService_GetWorkstation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWorkstationResponse" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteWorkstation_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteWorkstation" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteWorkstation_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteWorkstationResponse" />
  </wsdl:message>
  <wsdl:message name="IService_SaveWorkstation_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveWorkstation" />
  </wsdl:message>
  <wsdl:message name="IService_SaveWorkstation_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveWorkstationResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetCoordinatorList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCoordinatorList" />
  </wsdl:message>
  <wsdl:message name="IService_GetCoordinatorList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCoordinatorListResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="GetWorkstationDtoList">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetWorkstationDtoList" message="tns:IService_GetWorkstationDtoList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetWorkstationDtoListResponse" message="tns:IService_GetWorkstationDtoList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWorkstation">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetWorkstation" message="tns:IService_GetWorkstation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetWorkstationResponse" message="tns:IService_GetWorkstation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteWorkstation">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/DeleteWorkstation" message="tns:IService_DeleteWorkstation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/DeleteWorkstationResponse" message="tns:IService_DeleteWorkstation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveWorkstation">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/SaveWorkstation" message="tns:IService_SaveWorkstation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/SaveWorkstationResponse" message="tns:IService_SaveWorkstation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCoordinatorList">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetCoordinatorList" message="tns:IService_GetCoordinatorList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetCoordinatorListResponse" message="tns:IService_GetCoordinatorList_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetWorkstationDtoList">
      <soap:operation soapAction="http://tempuri.org/IService/GetWorkstationDtoList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWorkstation">
      <soap:operation soapAction="http://tempuri.org/IService/GetWorkstation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteWorkstation">
      <soap:operation soapAction="http://tempuri.org/IService/DeleteWorkstation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveWorkstation">
      <soap:operation soapAction="http://tempuri.org/IService/SaveWorkstation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCoordinatorList">
      <soap:operation soapAction="http://tempuri.org/IService/GetCoordinatorList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:8733/MainService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>